__pycache__
.venv
.env
.env.example
.kiro
aidlc-docs
temp.wav
text-to-speech.wav
log
line-bot.log
line-bot.log.*
watermelon-368305-firestore.json
accounts-pie-chart.png
videos
pics
Thumbs.db

# Frontend
frontend/node_modules
dist
*.local